<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>作品に登場した料理:</strong>
  <% @movie.dishes.each do |d| %>
    <div style='margin: .5em; margin-bottom: 2em;'>
    <div><strong><%= d.name %></strong></div>
    <div><%== d.description %></div>
    <div style='margin: .5em;'><a href='https://cookpad.com/search/<%= d.name %>'>クックパッドでレシピを検索</a></div>
    <div style='margin: .5em;'><a href='https://www.google.com/search?q=<%= d.name %>'>Googleで料理を検索</a></div>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
