<p id="notice"><%= notice %></p>

<div class='container h-100'>
<div class='row h-100' style='padding-top: .5em;'>
<div class='col-sm'>

<p>
  <strong>タイトル</strong>: <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>


</div>
</div>

<div class='row'><div class='col-sm'><p><strong>作品に登場した料理:</strong></p></div></div>

<% @movie.dishes.each do |dish| %>
  <div class='row'>
  <div class='col-sm'>
  <div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= dish.name %></h5>
      <p class="card-text"><%= dish.description %></p>
      <a href="https://cookpad.com/search/<%= dish.name %>" class="btn btn-primary text-white" style='margin-bottom: 1em;'>クックパッドでレシピを検索</a>
      <a href="https://www.google.com/search?q=<%= dish.name %>" class="btn btn-primary text-white" style='margin-bottom: 1em;'>Googleで料理を検索</a>
    </div>
  </div>
  </div>
  </div>
  <% end %>

</div>

<!--

<p>
  <strong>タイトル</strong>: <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>作品に登場した料理:</strong>
  <% @movie.dishes.each do |d| %>
    <div style='margin: .5em; margin-bottom: 2em;'>
    <div><strong><%= d.name %></strong></div>
    <div><%== d.description %></div>
    <div style='margin: .5em;'><a href='https://cookpad.com/search/<%= d.name %>'>クックパッドでレシピを検索</a></div>
    <div style='margin: .5em;'><a href='https://www.google.com/search?q=<%= d.name %>'>Googleで料理を検索</a></div>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

-->